<!-- <mat-card class="mat-elevation-z6">
    <mat-card-header>
        <mat-card-title>New Entity Form</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <table cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Entity Name" [(ngModel)]="entity.name" required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-radio-group [(ngModel)]="entity.auditable">
                                <mat-radio-button value="true">Auditable</mat-radio-button>
                                <mat-radio-button value="false">Non-Auditable</mat-radio-button>
                            </mat-radio-group>
                        </mat-form-field> 
                    </td>
                </tr>
                <tr *ngFor="let field of fields">
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Field Name" [(ngModel)]="field.name" required>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Field Type" [(ngModel)]="field.type" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Field Name" [(ngModel)]="newField.name" required>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Field Type" [(ngModel)]="newField.type" required>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="addField()" color="secondary">Add a new Field</button>
        <button mat-raised-button (click)="createEntity()" color="secondary">Create new Entity</button>
    </mat-card-actions>
</mat-card> -->



<mat-card class="mat-elevation-z6">
    <mat-card-header>
        <mat-card-title>New Entity</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table cellspacing="0">
            <tr>
                <td>
                    <input matInput placeholder="Entity Name" [(ngModel)]="entity.entityName" required>
                </td>
                <td>
                    <mat-slide-toggle [(ngModel)]="entity.auditable"> Auditable </mat-slide-toggle>
                </td>
                <td>
                    <mat-label>Select a Service</mat-label>
                    <mat-select required [(ngModel)]="entity.serviceType">
                        <mat-option value="PUBLIC">Public</mat-option>
                        <mat-option value="PROTECTED">Protected</mat-option>
                        <mat-option value="PRIVATE">Private</mat-option>
                    </mat-select>
                </td>
                <td>
                    <mat-label>Select a Controller</mat-label>
                    <mat-select required [(ngModel)]="entity.controllerType">
                        <mat-option value="READ">Read</mat-option>
                        <mat-option value="CRUD">Crud</mat-option>
                    </mat-select>
                </td>
            </tr>
            <tr *ngFor="let field of fields ">
                <td>
                    <input matInput placeholder="Field Name" [(ngModel)]="field.name" required>
                </td>
                <td>
                    <input matInput placeholder="Field Type" [(ngModel)]="field.type" required>
                </td>
                <td>
                    <mat-slide-toggle [(ngModel)]="field.toDisplay"> Display in table </mat-slide-toggle>
                </td>
                <td>
                    <mat-slide-toggle [(ngModel)]="field.toFilter"> Use as filter in table </mat-slide-toggle>

                </td>
            </tr>
        </table>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="addField()" color="primary">Add Field</button>
        <button mat-raised-button (click)="createEntity()" color="primary">Create new Entity!</button>
    </mat-card-actions>
</mat-card>